*{
    margin: 0;
    padding: 0;
}
p{
    background-color: aqua;
    background-image: url('background.jpg');
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-repeat: no-repeat;
    /* background-size:contain; */
    background-size:cover;
    /* background-size:auto; */
    /* background-size: 350px; */
    /* background-size: 250px 400px; */
    background-position: top right;
    background-attachment: fixed;
    /* background-attachment: scroll; */
    /* background-attachment: local; */
    /* background: aqua url('background.jpg') no-repeat auto bottom center; */
    height:800px;
    width:500px;
    color:white;
}
h1{
    background-color: blanchedalmond;
}