/* This is the css file for the index.html file and we can write css for the respective classes and by linking the file all the design will come into effect for the classes. */

.blue{
    background-color: blue; color:bisque;
}
.red{
    background-color: red;
    color:black;
}